# Dependencias de Node
node_modules/

# Variables de Entorno
.env
.env.local

# Build de Producción
build/
dist/

# Archivos de la terminal
.DS_Store
*.log

# Archivos de caché del editor
.vscode/
.idea/